### üìò Phase 1: Data Cleaning & Preprocessing (Superstore Dataset)

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load Dataset
df = pd.read_csv("data/Sample - Superstore.csv", encoding='latin1')
df.head()
# Display basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

#### Explore the data

In [4]:
print("üîç Information:")
print(df.head(3))
print("\nüìä Size:", df.shape)
print("\nüìã Column names:", df.columns.tolist())

üîç Information:
   Row ID        Order ID Order Date   Ship Date     Ship Mode Customer ID  \
0       1  CA-2016-152156  11/8/2016  11/11/2016  Second Class    CG-12520
1       2  CA-2016-152156  11/8/2016  11/11/2016  Second Class    CG-12520
2       3  CA-2016-138688  6/12/2016   6/16/2016  Second Class    DV-13045

     Customer Name    Segment        Country         City  ... Postal Code  \
0      Claire Gute   Consumer  United States    Henderson  ...       42420
1      Claire Gute   Consumer  United States    Henderson  ...       42420
2  Darrin Van Huff  Corporate  United States  Los Angeles  ...       90036

   Region       Product ID         Category Sub-Category  \
0   South  FUR-BO-10001798        Furniture    Bookcases
1   South  FUR-CH-10000454        Furniture       Chairs
2    West  OFF-LA-10000240  Office Supplies       Labels

                                        Product Name   Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.96         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.94         3
2  Self-Adhesive Address Labels for Typewriters b...   14.62         2

   Discount    Profit
0       0.0   41.9136
1       0.0  219.5820
2       0.0    6.8714

[3 rows x 21 columns]

üìä Size: (9994, 21)

üìã Column names: ['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']

In [10]:
# Check for missing values
missing_values = df.isnull().sum()
print(f"Missing values is : \n{missing_values}")
df['Postal Code'] = df['Postal Code'].fillna(0)

Missing values is :
Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

#### Transform to date

In [11]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])

# Create additional columns from date
df['Order_Year'] = df['Order Date'].dt.year
df['Order_Month'] = df['Order Date'].dt.month
df['Order_Day'] = df['Order Date'].dt.day
df['Order_Weekday'] = df['Order Date'].dt.day_name()

#### Check Data type

In [12]:
print("\nüî† Data Types:")
print(df.dtypes)

üî† Data Types:
Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
Order_Year                int32
Order_Month               int32
Order_Day                 int32
Order_Weekday            object
dtype: object

#### Check outliers

In [14]:
print("\nüìà Statistics:")
print(df[['Sales','Profit','Discount','Quantity']].describe())

# ‡∏ñ‡πâ‡∏≤‡∏°‡∏µ Discount > 1 ‡πÅ‡∏™‡∏î‡∏á‡∏ß‡πà‡∏≤‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥ ‡πÉ‡∏´‡πâ‡∏ï‡∏±‡∏î‡∏≠‡∏≠‡∏Å
df = df[df['Discount'] <= 1]

üìà Statistics:
              Sales       Profit     Discount     Quantity
count   9994.000000  9994.000000  9994.000000  9994.000000
mean     229.858001    28.656896     0.156203     3.789574
std      623.245101   234.260108     0.206452     2.225110
min        0.444000 -6599.978000     0.000000     1.000000
25%       17.280000     1.728750     0.000000     2.000000
50%       54.490000     8.666500     0.200000     3.000000
75%      209.940000    29.364000     0.200000     5.000000
max    22638.480000  8399.976000     0.800000    14.000000

#### Profit Margin üí∞

In [15]:
df['Profit_Margin'] = (df['Profit'] / df['Sales']).round(2)

#### üïµüèª Check Duplicate

In [16]:
duplicates = df.duplicated().sum()
print(f"\nüßπ Duplicate rows: {duplicates}")
df = df.drop_duplicates()

üßπ Duplicate rows: 0

#### üìç Save Cleaned Data

In [17]:
df.to_csv("data/Superstore_Cleaned.csv", index=False)
print("\nüíæ Cleaned data saved to 'data/Superstore_Cleaned.csv'")

üíæ Cleaned data saved to 'data/Superstore_Cleaned.csv'

#### üìÉ Summary after cleaning

In [18]:
print("\nüìä Cleaned Data Statistics:")
print(df.info())
print(df.sample(3))

üìä Cleaned Data Statistics:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Order_Year     9994 non-null   int32
 22  Order_Month    9994 non-null   int32
 23  Order_Day      9994 non-null   int32
 24  Order_Weekday  9994 non-null   object
 25  Profit_Margin  9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int32(3), int64(3), object(14)
memory usage: 1.9+ MB
None
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
6221    6222  US-2017-157224 2017-09-14 2017-09-18    Second Class
2476    2477  CA-2016-114972 2016-11-03 2016-11-06     First Class
4257    4258  CA-2015-101924 2015-09-04 2015-09-09  Standard Class

     Customer ID      Customer Name    Segment        Country         City  \
6221    JB-16000          Joy Bell-   Consumer  United States  Los Angeles
2476    PF-19225  Phillip Flathmann   Consumer  United States  Los Angeles
4257    KB-16585          Ken Black  Corporate  United States      Medford

      ...                                       Product Name     Sales  \
6221  ...                                           Avery 48    56.700
2476  ...  Honeywell Enviracaire Portable HEPA Air Cleane...  1101.480
4257  ...  Acco Flexible ACCOHIDE Square Ring Data Binder...     9.762

     Quantity Discount    Profit Order_Year Order_Month  Order_Day  \
6221        9      0.0   26.0820       2017           9         14
2476        4      0.0  429.5772       2016          11          3
4257        2      0.7   -6.8334       2015           9          4

      Order_Weekday  Profit_Margin
6221       Thursday           0.46
2476       Thursday           0.39
4257         Friday          -0.70

[3 rows x 26 columns]